@font-face {
    font-family: 'Fournier MT Std';
    src: url('FournierMTStd-Regular.woff2') format('woff2'),
        url('FournierMTStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
	height: auto;
	background: linear-gradient(0deg, #776964, #225d10 80%) no-repeat;
    background-color: #776964;
}
body {
	font-family: "Fournier MT Std", times, serif;
	font-size: 3.0em;
	line-height: 0.98em;
	margin: 6%;
	color: #000;
}
header {
    top: 20px;
    left: 20px;
    position: fixed;
}
header h1 a, header nav {
    font-style: italic;
    color: #7e8bc6;
    font-weight: normal;
}
header h1 {
    cursor: pointer;
}
header h1 a:hover {
    color: #7e8bc6;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: #7e8bc6;
}
nav a {
    color: #7e8bc6;
}
h1, h2, p {
    font-size: 48px;
    line-height: 47px;
}
h2 {
    color: #7e8bc6;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}
.star {
    color: #7e8bc6;
    text-align: center;
}
#fixed-images img {
    position: fixed;
    pointer-events: none;
}
#fixed-images img#wave {
    width: 12%;
    /* background-color: #31009c; */
}
#fixed-images img#ornament-1 {
    width: 3%;
    /* background: yellow; */
}
#fixed-images img#ornament-2 {
    width: 10%;
    /* background-color: cyan; */
}
#fixed-images img#portrait {
    width: 8%;
}
.light {
    color: #7e8bc6;
}
.center {
    text-align: center;
}
main {
    padding: 50px 0;
}
main p {
    margin: 50px 0;
}
figure {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
	text-align: center;
    margin: 0;
}
figure figcaption {
    font-size: 24px;
    line-height: 26px;
    font-style: italic;
    color: #8ab57c;
    margin-top: 10px;
}
figure .image-set {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3px;
}
figure img {
    width: 20%;
    min-width: 100px;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: #31009c;
}
/* a:visited, a:active {
	color: black;
} */
footer {
    font-size: 40px;
    margin-top: 200px;
}

/* Mobile */
@media(max-width: 600px) {
    h1, h2, p, nav, footer {
		font-size: 20px;
        line-height: 20px;
	}
    figure figcaption {
        font-size: 14px;
        line-height: 16px;
    }
    main p {
        margin: 20px 0;
    }
}